DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="Kamsi./2004"
DB_NAME="lendsqr_test_db"
DB_PORT=3306

PORT=4000

JWT_SECRET="<string>"

REDIS_URL="redis://localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
ADJUTOR_BASE_URL="https://adjutor.lendsqr.com/v2/"
ADJUTOR_API_KEY="<string>"
ADJUTOR_APP_ID="<string>"